.module-border-wrap {
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 2px;
  border-radius: 22px;
  .button {
    border: none;
    border-radius: 22px;
    padding: 7px 18px;
    
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    text-transform: uppercase;
    
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: white;
    
    cursor: pointer;
  }
  .button--no-fill {
    background: white;
    color: #BC9CFF;
    padding-right: 19px;
  }
}

.module-border-wrap:hover {
  background: linear-gradient(180deg, rgba(220, 207, 253, 1) 0%, rgba(194, 206, 245, 1) 100%);
  .button {
    background: transparent;
  }
  .button--no-fill {
    background: white;
  }
}

