.page-header__wrapper {
    width: 90.6%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    a {
      padding: 15px 0;
    }
}

nav.main-nav {
  margin-left: auto;
}

.main-nav__list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;  
  
  :nth-child(2)::after,
  :nth-child(5)::after {
    content: "";
    display: inline-block;
    width: 12px;
    height: 10px;
    
    margin-left: 5px;
    
    background: url("./components/header/img/expand_more.svg") no-repeat center;
  }
  
  .menu-item {
    padding: 10px 0;
    text-align: center;
    margin-right: 20px;
    margin-top: 3px;
  }
  a {
    text-decoration: none;
    color: rgba(31, 32, 65, 0.5);
  }
  .menu-item:hover a{
    color: black;
  }
  :nth-child(2){
    margin-right: 25px;
  }
}

.user-menu {
  list-style: none;
  padding: 0;
  display: flex;
  li {
    margin-top: 5px;
  }
}

.user-menu li:first-child {
  margin-right: 20px;
  margin-left: 9px;
  width: 87px;
}

.logo {
  width: 105px;
}