doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description" content="About this site")
    meta(name="keywords" content="")
    meta(name="viewport" content="width=1440, initial-scale=1")
    link(rel="icon" href="https://www.w3.org/html/logo/badge/html5-badge-h-solo.png")
    title Пример страницы
    link(rel="stylesheet" type="text/css" href="main.css")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")

  body
    include ./components/header/header
    
    include ./components/content/content
    
    include ./components/footer/footer


    script(src="main.js")