doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="description" content="About this site")
    meta(name="keywords" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" href="https://www.w3.org/html/logo/badge/html5-badge-h-solo.png")
    title Расписание матчей
    link(rel="stylesheet" type="text/css" href="main.css")
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet")
  body
    .wrapper
      header
        h2 Билеты и абонементы
        nav.main-nav
          ul.main-nav__list
            li.main-nav__item
              a(href="#") Как купить?
            li.main-nav__item
              a(href="#") Правила
            li.main-nav__item
              a(href="#") Возврат билетов
        .user-nav
          a.user-login(href="#") 
            <svg class="user-login__icon" width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><polygon points="0 7 7.01 7 7.01 4.06 10.96 8.01 7.01 11.91 7.01 9.06 0 9.02 0 7"/><polygon points="7.01 0 7.01 2 14.03 2 14.03 13.99 7.01 13.99 7.01 16 16 16 16 0 7.01 0"/></svg> 
            span Войти
          a.hidden-menu(href="#")
            span
      main
        p.team.team-first 
          span Соперник №1
        p.team.team-second 
          span Соперник №2
        .hexagon#hexagon1
          .hexagon-shape
            .hexagon-shape-inner
              .hexagon-shape-inner-2
          .hexagon-content
        .hexagon#hexagon2
          .hexagon-shape
            .hexagon-shape-inner
              .hexagon-shape-inner-2
          .hexagon-content
        .hexagon#hexagon3
          .hexagon-shape
            .hexagon-shape-inner
              .hexagon-shape-inner-2
          .hexagon-content
        .hexagon#hexagon4
          .hexagon-shape
            .hexagon-shape-inner
              .hexagon-shape-inner-2
          .hexagon-content
        .hexagon#hexagon5
          .hexagon-shape
            .hexagon-shape-inner
              .hexagon-shape-inner-2
          .hexagon-content
  script(src="main.js")